
header { 
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background: #001529;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 7rem;
}
header > h1{ 
   max-width: 48rem;
text-align: center;
font-size: 3.5rem;
font-weight: 700;
}
section,.solution-section {
    max-width: 90rem;
    margin-inline:auto;
    padding-block: 5rem;
    padding-inline: 4rem;
    background: #F8F8FF;
}
.about-section {
    display: flex;
    gap: 5rem;
    width: 100%;
}
.about-section > img {
    object-fit: contain;
     max-width: 500px;
}

.about-section-left{
    width: 100%;
    margin-inline: auto;
    align-items: center;
    display: flex;
    gap: 4rem;
}
.about-section-left > span, 
.our-team-section-intro > span{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%; /* 1.5rem */
}
.about-section-left h2,
 .our-team-section-intro > h2,.solution-section h2, .value-section h2{
    color: #D56723;
font-size: 3rem;
font-weight: 700;
line-height: 120%; /* 3.6rem */
}
.about-section-left p, .our-team-section-intro p {
    margin-block: 1rem ;
    color: rgba(0, 0, 0, 0.67);
font-size: 1.125rem;
font-weight: 400;
line-height: 150%; /* 1.6875rem */
}
.about-section-left-left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.about-section-cards-container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.about-section-card{
    padding: 2rem 1rem;
    box-shadow: 0 -0.5rem 1rem rgba(0 0 0 / 0.15);
    border-radius: 4px;
    border:solid 1px rgb(241, 245 ,249);
    text-align: start;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.about-section-card p:first-child{
   display: grid;
   place-content: center;
   background-color: rgba(213, 103, 35, 0.1);
   border-radius: 50%;
   width: 50px;
   height: 50px;
   color: orange;
   font-weight: bold;
   font-size: 1.25rem;
}
.solution-section,.value-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.solution-section{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.solution-section-main{
    max-width: 40rem;
    color: rgba(0, 0, 0, 0.67);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%; 
}
.value-section {
    display: flex;
    gap: 2rem;

}
.value-section > div > p{
    text-align: start;
     padding-block: 1rem;
     border-bottom:  solid 1px rgba(0, 0, 0, 0.108);
     box-shadow: 0 4px 2px -4px  #cbd5e1; 
   width: 26rem;

}

footer,nav { 
    background: #001529;
    color: white;
}
nav {
    padding-inline: 60px;
}
@media screen and (max-width: 1200px) {
    .about-section-left {
        flex-direction: column;
    }
  
}
@media screen and (max-width: 1024px) {
    
    .about-section {
        flex-direction: column;
        align-items: center;
    }
    .about-section-left {
        width: 100%;
    }
    .our-team-card-cont {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 544px) {
    .about-section-cards-container {
        grid-template-columns: repeat(1,1fr);
        margin: 0;
    }
    nav, .solution-section {
        padding-inline: 1rem;
    }
    header {
        padding-block: 4rem;  
    }
    section {
        padding-inline: 1rem;
        padding-block: 2rem;
        gap: 2rem;
    }
    .about-section {
     
        gap: 2rem;
       
    }
    header > h1,.about-section-left h2,.our-team-section-intro > h2 {
       
        font-size: 2rem;
       
    }
    .our-team-section-intro p {
        font-size: 1rem;
    }
    .about-section-left p,.our-team-card-description > p {
        font-size: .8rem;
    }
}