.pricing-section {
    display: flex;
    max-width: 90rem;
    padding: 7rem 4rem;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-inline:auto ;
    min-height: 100vh;
}
.pricing-header{
    display: flex;
    max-width: 48rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.pricing-header  .highlighted-text-body{
    color:#0083FF
}
.pricing-header > span{
    color: var(--Black, #000);
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%; /* 1.5rem */
}
.pricing-header > h1{
    color: rgba(0, 0, 0, 0.87);
    font-size: 3rem;
    font-weight: 300;
    line-height: 120%; /* 4.2rem */
    text-transform:capitalize;
}
.pricing-header > p{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
    color: rgba(0, 0, 0, 0.67);
}
.pricing-card-cont{
    display: flex;
    gap: 2rem;
    width: 100%; 
    align-items: stretch;
    justify-content:space-between;
    
}
.pricing-card {
display: flex;
padding: 2rem;
flex-direction: column;
flex: 1 0 0;
border: 1px solid rgba(0, 0, 0, 0.125);
border-radius: 4px;
box-shadow: 0 0rem 1rem rgba(0 0 0 / 0.15);
gap: 1rem;
transition: all .2s ease-in-out;
}
.pricing-card:hover {
 transform: translateY(-10px);
}
.pricing-card > span{
font-size: 14px;
line-height: 150%;
color: rgba(0, 0, 0, 0.67);
}
.pricing-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0083FF
}
.pricing-card-bottom{
    padding-block: 1rem;
}
.pricing-card-bottom p{
    font-weight: 500;
    color: #0083FF
}
.pricing-card-bottom ul{
    display: flex;
    flex-direction: column;
   /* list-style: circle; */
    padding-block: 1rem;
    gap: .5rem;
    padding-inline-start: 2rem;
    font-weight: 400;
}
.pricing-card > a{
    margin-top: auto;
  padding: 1rem 2rem;
  border: solid 1px #0083FF;
  color: #0083FF;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-weight: bold;
  
}
.pricing-card > a:hover{
    background-color: #0083FF;
    color: white;

}
.pricing-card > .divider{
    background-color: rgba(0, 132, 255, 0.5);
}